.LinearRegression {
    position: relative;
    padding: 1rem;
    margin: 0 auto;
    /* Center the component */
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.buttons {
    display: flex;
    gap: 0.5rem;
}

.reset-button,
.undo-button {
    position: relative;
}

.canvas-container {
    width: 100%;
    height: 400px;
    /* Set a fixed height for the canvas container */
}

.LinearRegression canvas {
    display: block;
}

.LinearRegression .buttons {
    text-align: center;
    margin-top: 1rem;
}